.root {
  -fx-background-image: url('/assets/img/gamefolksidebar.png');
  -fx-background-position: center center;
  -fx-background-repeat: no-repeat;
  -fx-background-size: stretch;
  -fx-text-fill: black;
}

.image {
  -fx-padding: 10;
}
