.root {
  -fx-alignment: center;
  -fx-background-color: black;
  -fx-background-image: url('/assets/img/gamefolklogo.png');
  -fx-background-position: center center;
  -fx-background-repeat: no-repeat;
  -fx-background-size: contain;
}
